.education {
  padding-top: 1rem;
  font-size: 0.9em;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.branch {
  font-size: 0.8em;
}
.lineContainer {
  display: flex;
  justify-content: center;
}
.line {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
}
.college {
  font-size: 1.2em;
  font-weight: 600;
}

.line i {
  font-size: 1.5em;
  margin-right: 1rem;
}
