html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}

a {
  color: rgb(0 0 0);
  text-decoration: none;
  font-weight: 600;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}
p {
  line-height: 1.6rem;
}
.line {
  margin-bottom: 1rem;
}

* {
  box-sizing: border-box;
}
