.works {
  padding-top: 1rem;
  font-size: 0.9em;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.works a {
  color: black;
  text-decoration: none;
}

.works a:hover {
  text-decoration: none;
}
.title {
  margin-bottom: 0;
}
.category {
  font-size: 0.8em;
}
.card {
  transition: transform 0.2s;
  margin: 0 auto;
  margin-bottom: 1.2rem;
}
.card:hover {
  transform: scale(1.1);
  border: none;
  box-shadow: 0 2px 5px 0 #dfdfdf, 0 8px 40px 0 rgb(10 14 29 / 6%);
}
.boxes {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.box {
  padding: 1rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  border: 1px solid lightgrey;
  border-radius: 0.6rem;
  align-items: center;
  display: flex;
}
.box i {
  font-size: 1.5em;
  margin-right: 0.5rem;
}
